/*-- scss:defaults --*/

.br {
  display: block;
  margin-bottom: -.6em;
  padding-bottom: -.6em;
}

.br-2 {
  display: block;
  margin-bottom: .05em;
  padding-bottom: .05em;
}

.br-3 {
  display: block;
  margin-bottom: 0.9em;
  padding-bottom: 0.9em;
}

.br-4 {
  display: block;
  margin-bottom: .001em;
}

.plt-1 {
 justify-content: center;
 align-items: center; 
}

.text {
  font-size: 11px;
  padding-left: 0px;
}

.title-text {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.title-text-2 {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.center-text {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}

.center-text-1 {
  font-size: 10px;
  text-align: center;
}


.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 35% 65%;
 column-gap: 5px;
 padding-bottom: -55px;
 margin-bottom:  -55px;
 padding-top: -55px;
 margin-top  -55px;
}

.container-1 {
 display: grid;
 align-items: center; 
 grid-template-columns: 33% 33% 33% ;
 column-gap: 0px;
 padding-bottom: -35px;
 margin-bottom:  -35px;
 padding-top: -35px;
 margin-top  -35px;
}

.container-2 {
 display: grid;
 align-items: center; 
 grid-template-columns: 50% 50%;
 column-gap: 0px;
 padding-bottom: -35px;
 margin-bottom:  -35px;
 padding-top: -35px;
 margin-top  -35px;
}






.container1 {
 display: grid;
 align-items: center; 
 grid-template-columns: 45% 55%;
 column-gap: 5px;
}

.container3 {
 display: grid;
 align-items: center; 
 grid-template-columns: 50% 50%;
 column-gap: 5px;
}

.top-row {
  grid-column: 2 / span 4; /* Span the top row across both columns */
  display: flex;
}


.wide-graph {
  grid-column: 2 / 4; /* Span the wide graph across both columns */
}

.plt {
  max-width: 250%;
  max-height: 250%;
  padding-bottom: -55px;
  margin-bottom: -55px;
  align-items: center; 
}





.subtext {
  font-size: 11px;
  padding-left: 0px;
  text-align: center;
}

.textborder {
  font-size: 12px;
  padding-left: 8px;
  padding-right: 5px;
  border:#42a7a5;
  border-width: 1.8px; 
  border-style: solid;
}

.text2blue {
  font-size: 11px;
  color: #42a7a5;
  font-weight: bold;
  text-align: center;
  padding-left: 0px;
}

.text2 {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  padding-left: 0px;
}

.text3 {
  font-size: 11px;
  text-align: center;
  padding-left: 0px;
}

.center {
text-align: center;  
}

.textpct {
  font-size: 12px;
  font-weight: bold;
}






